.brand {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding-left: var(--main-padding);
}

.brand img {
    width: 25px;
    height: 25px;
}

.brand p {
    font-family: var(--primary-font);
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}
